* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;
  font-size: 1.2rem;
  background-color: rgba(255, 255, 255, 0.842);
}

.banner {
  background-image: url("../assets/home.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 88vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: rgb(255, 255, 255);
  text-align: center;
  margin-top: 10rem;
  padding: 0 1rem;
  text-shadow: 0.4rem 0.4rem 0.8rem rgba(0, 0, 0, 0.5);
  font-weight: 600;
}

.banner-content {
  display: flex;
  max-width: 800px;
  width: 100%;
  padding-right: 7rem;
}

.cta-button {
  font-size: 1rem;
  background-color: #0059ff;
  padding: 0.4rem 1rem;
  border-radius: 2rem;
  color: white;
  font-weight: bold;
  text-align: center;
  transition: background-color 0.3s, transform 0.3s;
  margin-right: 10rem;
}

.cta-button:hover {
  background-color: rgb(255, 123, 0);
  transform: scale(1.05);
}

.cta-button-p {
  background-color: rgb(255, 123, 0);
  padding: 0.75rem 1.5rem;
  border-radius: 2rem;
  color: white;
  font-weight: bold;
  text-align: center;
  transition: background-color 0.3s, transform 0.3s;
}

.cta-button-p:hover {
  background-color: blue;
  transform: scale(1.05);
}

.fa-map {
  background-image: linear-gradient(to bottom, #ff7300, #fb4e2fc4, #ffffff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: rgb(255, 153, 0);
}

.fa-phone {
  background-image: linear-gradient(to bottom, #ff7300, #fb4e2fc4, #ffffff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: rgb(255, 115, 0);
}

.fa-envelope {
  background-image: linear-gradient(to bottom, #ff7300, #fb4e2fc4, #ffffff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: black;
}

.fa-clock {
  background-image: linear-gradient(to bottom, #ff7300, #fb4e2fc4, #ffffff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: black;
}

#plans:hover {
  transform: scale(1.05);
  background-color: whitesmoke;
}

#maps {
  width: 22rem;
  height: 22rem;
}
#maps:hover {
  transform: scale(1.05);
}

.transformando:hover {
  transform: scale(1.05);
}

@media (min-width: 1100px) {
  .navbar .menu {
    display: flex;
  }
}

.banner {
  margin-top: 0;
  min-height: 88vh;
}

.navbar {
  font-size: 1rem;
}

.cta-button {
  margin-right: 3rem;
  text-align: center;
}

.nav-a:hover {
  color: rgb(255, 123, 0);
}

.contratar {
  padding-bottom: 1rem;
}
.banner {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.footer {
  background-color: #1d4097;
  color: white;
}

i.fa-facebook {
  color: blue;
}

i.fa-instagram {
  background-image: linear-gradient(to bottom, #293fdc, #fb2f98, #fe9200);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: black;
}

i.fa-whatsapp {
  color: rgb(9, 255, 0);
}
@media (max-width: 76.8rem) {
  .banner {
    color: rgb(0,0,0);
    background-size: cover;
  }

  .banner-content {
    display: flex;
    max-width: 800px;
    width: 100%;
    padding-right: 0;
    margin-top: 3rem;
  }

  .highlighted-text {
    background-color: rgba(255, 115, 0, 0.575);
    color: #ffffff;
    border-radius: 0.8rem;
  }
  .responsive-bt {
    text-align: center;
  }

  .social-container {
    padding-left: 0;
    text-align: center;
  }
  .footer .footer-info {
    flex-direction: column;
    align-items: center;
  }

  .footer .footer-info-item {
    padding-left: 0;
    width: auto;
    text-align: center;
  }

  .footer .footer-links {
    flex-direction: column;
    align-items: center;
  }

  .footer .footer-links-column {
    width: 100%;
  }
  .footer .footer-links-column ul :hover {
    color: #ffa600;
    text-decoration: none;
  }

  .footer-links-column ul li {
    padding-left: 0;
    text-align: center;
  }

  .footer-links-column h4 {
    padding-left: 0;
    text-align: center;
  }
}
